html
    head
        meta(charset='utf8')
        title Resume

        each additionalScript in additionalScripts
            script(src=additionalScript)
        each additionalStyle in additionalStyles
            link(rel='stylesheet' href=additionalStyle)

        link(rel='stylesheet' href="./style/layout.scss")
    body
        block content